html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 80%;
  font-family: 'Exo', sans-serif;
  font-weight: lighter;
  background-image: url(https://i.pinimg.com/originals/ef/cb/e7/efcbe71e2a0258f9a98dc5556e2ecad8.jpg);
}

h1 {
  border-radius: 15px;
  padding: 15px;
  margin: 0px 350px auto;
  text-align: center;
  font-size: 5rem;
  background: none
}

h2 {
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  background: none
}

p {
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  background: none
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 40px;
  column-gap: 80px;
  justify-content: center;
}

.card {
  font-size: 3rem;
  border-radius: 15px;
  text-align: center;
  margin: 0px 50px auto;
  padding: 100px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);
  flex: 1 0 19.5%;
  max-width: max-content;

}

@media (max-width: 768px) {
  .container>.card {
    flex-basis: 90%;
  }
}

@media (max-width: 320px) {
  .container>.card {
    flex-basis: 51%;
  }
}


img {
  width: 40%;
  height: 120px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);

}

div {
  box-shadow: 10px 10px lightblue;
}