html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 80%;
  font-family: "Montserrat", sans-serif;
  background-image: url(https://i.pinimg.com/originals/ef/cb/e7/efcbe71e2a0258f9a98dc5556e2ecad8.jpg);
}

h1 {
  border-radius: 15px;
  padding: 15px;
  margin: 20px 350px auto;
  text-align: center;
  font-size: 5rem;
  background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700366597.jpg);
}

h2 {
  border-radius: 30px;
  text-align: center;
  font-size: 2rem;
  background: none;
}

p {
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  background: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
}

.card1 {
  font-size: 3rem;
  border-radius: 15px;
  text-align: center;
  margin: 30px 100px auto;
  padding: 100px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);
  flex: 1;
}

.card2 {
  font-size: 3rem;
  border-radius: 15px;
  text-align: center;
  margin: 30px 100px auto;
  padding: 100px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);
  flex: 1;
}

.card3 {
  font-size: 3rem;
  border-radius: 15px;
  text-align: center;
  margin: 30px 100px auto;
  padding: 100px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);
  flex: 1;
}

.roald {
  font-size: 3rem;
  border-radius: 15px;
  text-align: center;
  margin: 30px 100px auto;
  padding: 100px;
  background-image: url(https://i.pinimg.com/736x/7e/cf/f0/7ecff0319f6be43cdac26aa46ecdce8d.jpg);
  flex: 1;
}


img {
  width: 40%;
  height: 120px;
  background: none;
}

div {
  box-shadow: 10px 10px lightblue;
}

.card1:hover {
  transform: scale(1.125);
  outline: 1rem solid rgb(207, 4, 4);
}

.card1 {
  transition: all 0.3s;
  outline-offset: 1rem;
}

.container:hover .card1:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
  transform: rotate(360deg);
}

.container:hover .card2:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
  transform: rotate(360deg);
}

.container:hover .roald:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
  transform: rotate(360deg);
}

.container:hover .card3:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
  transform: rotate(360deg);
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.card2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.card2:hover,
.card2:focus,
.card2:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.card3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card3:hover,
.card3:focus,
.card3:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(40deg);
}

.roald {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.roald:hover,
.roald:focus,
.roald:active {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

@media (max-width: 320px) {
  .container>.card {
    flex-basis: 51%;
  }
}

@media (max-width: 768px) {
  .container>.card {
    flex-basis: 90%;
  }
}